body{
    background-color: #b91450;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

.text_color_bordeaux{
    color: #b91450;
}

.my_border_botton{
    border:1px solid #b91450;
    border-radius: 5px;
}

.my_bcg_botton{
    background-color: #cccccc;
    padding: 0 7px;
}

.dati-biglietto{
    height: 100%;
}

.contenent-biglietto{
    height: 100%;
}

/* .colonnasx{
    background-color: #0f5a4a;
    
}

.colonnacc{
    background-color: #148ab9;
    
}

.colonnadx{
    background-color: #d33e3e;
    
} */