body{
    background-color: #b91450;   
}

.text_color_bordeaux{
    color: #b91450;
} 

.ombra{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.logo-upper{
    width: 10%;
    padding-top: 20px;
}

.my_border_botton{
    border:1px solid #b91450;
    border-radius: 5px;
}

.my_bcg_botton{
    background-color: #cccccc;
    padding: 0 7px;
}

.dati-biglietto{
    height: 100%;
}

.contenent-biglietto{
    height: 100%;
}

.logo-down{
    width: 100%;
}